form {
    padding: 15px;
    max-width: 40%;
    margin: 2rem auto;
    border-radius: 4px;
    /* background: linear-gradient(180deg, #307e6c, #2b996d);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* background: linear-gradient(293deg, #2c317d, #939aca);
    box-shadow: 0 0 10px rgb(158 158 158 / 40); */
    background: linear-gradient(343deg, #22406b, #595f83);
    box-shadow: 0 0 10px rgb(158 158 158 / 35%);
  }
  
  .input-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #e1dadae0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff5e;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #c2e9e0;
    font-size: 15px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #2b7cc5;
    border-radius: 0.25rem;
    background-color: #226f90;
    color: #e7eeeb;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#0d4071;
  }