<form>
    <div class="input-group">
        <p>
            <label for="init-invest">Initial Investment</label>
            <input id="init-invest" type="number">
        </p>
        <p>
            <label for="anul-invest">Anual Investment</label>
            <input id="anul-invest" type="number">
        </p>
    </div> <div class="input-group">
        <p>
            <label for="exp-return">Expected Return</label>
            <input id="exp-return" type="number">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" type="number">
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>