@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #22406b, #0b0519);

  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.center {
  text-align: center;
}
